.convo-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
	background-image:url(CardArt/tarotBubble.png);
	color: white;
	font-size: 28px;
    border-radius: .4em;
}


#arjsDebugUIContainer {
    display: none;
}

.a-enter-vr {
	display: none;
}
