.convo-bubble {
	position: absolute;
	width: 80%;
	margin: 0 auto;
	bottom: 50px;
	right: 10px;
	left: 10px;
    min-height: 20%;
	background-image: url('https://raw.githack.com/robots-make-art-too/Group12_ArcaneTarot/jasmine-ar-test/docs/pages/marker-based/Assets/CardArt/tarotBubble.png');
	background-color: #00aabb;
	background-size: cover;
	background-position: center;
	color: white;
	font-size: 28px;
    border-radius: .4em;
	padding: 20px;
    display: none;
}


#arjsDebugUIContainer {
    display: none;
}

.a-enter-vr {
	display: none;
}
